.container{
    @apply space-x-[4.7%] lg:space-x-[9.7%] flex items-center;
}

.container div{flex: 1;}

.description {
    @apply space-y-[20px] max-md:text-center flex flex-col;
}

.description h1{
    @apply leading-tight;
    background: linear-gradient(to bottom, rgb(242, 177, 56), #bbb);
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.imgBox{
    @apply h-[400px] lg:h-[440px] xl:h-[500px] max-md:hidden;
    width: 100%;
    object-fit: contain;
    animation: float 1.2s infinite ease alternate;
}

@keyframes float{
    from{
        transform: translateY(-6px);
    }
    to{
        transform: translateY(6px);
    }
}